@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,700');

.App {
  font-family: 'Work Sans', sans-serif;  background-color: #424242;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  box-shadow: 5px 5px 5px #616161;
}

.App-intro {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  margin: 5px;
  background-color: #FFFF00;
  border-radius: 10px;
  height: 40px;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px #616161;
}

button:hover {
  background-color: #7E57C2;
}

a {
  color: white;
}