.App {
  font-family: 'Cormorant Garamond', serif;
  background-color: #424242;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  box-shadow: 5px 5px 5px #616161;
}

.App-intro {
  font-size: large;
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}