.article {
  padding: 10px;
  margin-bottom: 30px;
}

.article h3 {
  color: #FFFF00;
  font-weight: 100;
}

.article h4 {
  font-weight: 100;
  margin: 1px;
}

.article h3:hover {
  font-weight: 400;
}

.article img {
  float: left;
  padding-right: 10px;
  border-radius: 50px;
}